<%- include("partials/header") %> 

<div class="container search-root">
    <div class="settings">
        <h3>About</h3>
        <hr>
        <br>
        <h5>Zetiny Corporation</h5>
        <h5>Version 1.0.0</h5>
        <br>
        <h5>Developer : @Abhijith P Subash</h5>
        <br>
        <h6>Credits (API):</h6>
        <a target="null" href="https://openweathermap.org/"><img width="140" src="https://upload.wikimedia.org/wikipedia/commons/f/f6/OpenWeather-Logo.jpg" alt="openweathermap-logo"></a>
        <br>
    </div>
        
</div>



<%- include('partials/footer') %> 